/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '~font-awesome/css/font-awesome.css';

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}